# Core dependencies
scrapy  # Web scraping framework
pandas  # Data manipulation and analysis

# Additional modules
lxml  # For parsing HTML and XML
unidecode  # For handling Unicode characters and ASCII conversion
evpn  # VPN handling (if evpn is a valid library you are using)
regex  # For working with regular expressions (for regex package)

# Use below command to install above modules
# pip install -r ssu_gov_ukraine_requirements.txt